body{
    overflow: hidden;
    background-color: hsl(185, 75%, 39%);

}

.image1{
    position: absolute;
    top : -80%;
    right : 50%

}

.image2{
    position: fixed;
    top : 50%;
    right : -20%
 

}
.attribution {
    position: absolute;
    font-size: 15px;
    top: 95%;
    left : 40%
    
}

.BOX{
    position: absolute;
    background-color: #fff;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2rem;



    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    text-align: center;
}



.BOX-image3 {
    grid-area: image3 ;
    display: grid;
    grid-template-rows: 80px 50px;
    grid-template-areas : "taswira" "doura";
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }



.BOX-image3 .taswira{
    background-image: url("bg-pattern-card.svg");
    background-position: center;
  
    background-size: cover;
    height: 11rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
}

.BOX-image3 .doura{
    background-color: #fff;
    width: 5rem;
    height: 5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    border-radius: 50%;
    border: solid white 3px;
    transform: translate(123%);
    transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  
   background-image:url("image-victor.jpg") ;


border : solid white 4px;}
  .BOX-ktiba{
      background-color: white;

    grid-area: ktiba;
line-height: 15px; 
 } 
  
  
  
  
  .BOX-ktiba h1{
      margin-top: 23%;
font-size: 18px;
font-family: 'Kumbh Sans', sans-serif;
font-weight: 700;
}

.BOX-ktiba .age{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    color: darkgrey;
}

.BOX-ktiba p{
    color: darkgrey;

    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

.BOX-stats {

    grid-area: stats;
    display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr  1fr ;
}
.khat{    margin-top: 5%;

    border-top: solid grey 1px;

}
.BOX-stats h1 {

    margin-top: 25%;
    line-height: 10px;

    font-size: 20px;
font-family: 'Kumbh Sans', sans-serif;
font-weight: 700;
}


.BOX-stats p {
    line-height: 0px;

    color : darkgrey;
    font-size: 10px;
font-family: 'Kumbh Sans', sans-serif;
font-weight: 400;
}
